*{
	margin: 0 0;
	/* padding: 0 0; */
}
	
ul{
	list-style: none;
	padding: 0 0;
}
a{
	text-decoration: none;
}
body{
	display: grid;
	width: 1124px;
	margin: 0 auto;
	grid-template-areas: 
	"header header"
	"section aside"
	"footer footer";
	align-items: center;
	justify-items: center;
	
}
header{
	grid-area: header;
	background-color: #e8e8e8;
	min-width: 1124px;
}
.img .pic2{
	float: right;
}
.pic1,.pic2{
	margin: 10px 65px;
}
.dir{
	height: 35px;
	background-color: #01559a;
}
.dir ul{
	list-style: none;
	display: flex;
	margin-left: 28px;
}
.dir li{
	margin: 0 25px;
	
}
.dir a{
	text-decoration: none;
	color: white;
	line-height: 35px;
}
section{
	grid-area: section;
	margin-left: 30px;
}
aside{
	grid-area: aside;
}
.pic3{
	padding-left: 64px;
	padding-top: 10px;
}
.product{
	margin: 40px 0;
}
section h2
{
	color: #1ab0e7;
	margin-top: 10px;
	font-weight: 500;
}
hr
{
	margin-bottom: 20px;
}
.l1{
	padding-left: 10px;
}
.l1 li
{
	list-style-type: disc;
	margin: 5px 0;
	
}
.l1 li a{
	color: #667db7;
	font-weight: lighter;
}
.l1 li span
{
	float: right;
}
.product ul{
	display: flex;
	list-style: none;
	padding-left: 10px;
}
.product li{
	margin: 10px 15px;
}
.product li a{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #000;
}
.pic4{
	width: 147px;
	height: 147px;
}
.product a span{
	margin: 5px 0 ;
}
.person{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 20px;
}
.people{
	margin: 0 20px;
}
.people a{
	display: flex;
	color: #000;
}
.people a .imformation{
	position: relative;
	top: -10px;
	left: 10px;
}
.people a .imformation p{
	margin: 10px 0;
}
aside{
	width: 100%;
}
aside .a1{
	display: grid;
	grid-template-columns: repeat(2,50%);
	grid-template-rows: repeat(2,50%);
	grid-row-gap: 20px;
	margin-bottom: 60px;
	
}
aside .a1 div{
	text-align: center;
	width: 141px;
	height: 108px;
}
aside .a1 div:nth-child(1){
	background-color: #636363;
}
aside .a1 div:nth-child(2){
	background-color: #00547f;
}
aside .a1 div:nth-child(3){
	background-color: #1991c9;
}
aside .a1 div:nth-child(4){
	background-color: #7bae02;
}
aside .a1 div a{
	color: white;
	line-height: 108px;
}
.center h2{
	background-color: #48a3d2;
	color: white;
	text-align: center;
	height: 35px;
	font-size: 20px;
	line-height: 35px;
	font-weight: lighter;
}
.center ul{
	background-color: #e8e8e8;
	padding-left: 20px;
}
.center li{
	list-style-type: disc;
	margin: 10px 0;
}
.center li:nth-child(1){
	margin-top: 0;
}
.center li:last-child{
	padding-bottom: 30px;
}
.center li a{
	color: #667db7;
	font-weight: lighter;
}
.center li span{
	float: right;
}
.center,.a1{
	margin: 20px 0;
}
footer{
	grid-area: footer;
	width: 100%;
	/* display: flex;
	flex-direction: column;
	align-items: center; */
}
footer div{
	width: 570px;
	margin: 0 auto;
}
footer ul{
	display: flex;
	list-style: none;
	margin: 0 auto;
}
footer li{
	padding: 0 5px;
	border-right: 1px solid black;
}
footer li:last-child{
	border-right: none;
}
footer p{
	text-align: center;
	margin-top: 10px;
}


